{% extends 'admin-layout.html.twig' %}

{% block page_title %}Detalle de orden{% endblock %}

{% block page_content %}
    <div class="box">
        <div class="box-body">
            <table class="table table-bordered dataTable">
                <tr>
                    <th>Id</th>
                    <td>{{ orden.id }}</td>
                </tr>
                <tr>
                    <th>Producto</th>
                    <td>{{ orden.subFormFactor }}</td>
                </tr>
                <tr>
                    <th>Estado</th>
                    <td>
                        {% if orden.status  == 0 %}
                            {{ 'Pendiente' }}
                        {% elseif orden.status == 1 %}
                            {{ 'Entregado' }}
                        {% elseif orden.status == 2 %}
                            {{ 'Cerrado' }}
                        {% elseif orden.status == 3 %}
                            {{ 'Cancelado' }}
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
        <div class="box-footer">
            <a class="btn btn-default pull-left" href="{{ path('orden_index') }}">Volver al listado</a>
            <a class="btn btn-primary pull-left"  href="{{ path('orden_edit', { 'id': orden.id }) }}">Editar</a>
            {{ form_start(delete_form) }}
            <input class="btn btn-danger" type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}